{%extends 'base.html'%} {%block content%} {% load static %}
<div>
<script>
    var grsl = document.getElementsByClassName("grsl");
    var current = 0;
    document.addEventListener('keydown', function(e) {
        switch (e.keyCode) {
            case 37:
                goup();
                break;
            case 39:
                godown();
                break;
            case 78:
                document.getElementById("navbar").classList.toggle("disnon");
                break;
        }
    });

    function godown() {
        if (current < (grsl.length - 1)) {
            current++;
            grsl[current].scrollIntoView({
                behavior: 'smooth'
            });
        }
    }

    function goup() {
        if (current > 0) {
            current--;
            grsl[current].scrollIntoView({
                behavior: 'smooth'
            });

        }
    }



</script>

<div class="man-slid grsl">
    <div class="cir-1"></div>
    <div class="cir-2"></div>
    <div class="cir-3"></div>
    <div class="logo var"><img src="{% static 'logo.png'%}"></div>
    <div class="flex-row var text1 cwhite1 tecenter">
        <h1>Detection of Breast Cancer</h1>
    </div>
    <div class="flex-row var text2 cwhite1 tecenter">
        <h1>Problem Statement</h1>
    </div>
    <div class="flex-row var text3 cwhite1">
        <h1>We aim to predict the malignant or benign breast cancer by observing the previous records of the mammography diagnosis.
        </h1>
    </div>
    <div class="flex-row img1 var">
        <img src="{% static 'problem.jpg'%}" alt="">
    </div>

</div>

<div class="grsl sl-tea">
    <div class="div-ext-link ">
        <div class="div-div-ext">
            <img src="{% static 'cancer2.jpg'%}" style="width:100% ; background-color:#fff">
            <div class="bgbluel tex-ext-link">
                <p class="h6 white1">Our Notion</p>
            </div>
            <div class="paddiv2vw" style="padding-top: 0px; font-size: 15px; font-weight: bold;">
                <p>The cancer is basically determined by two values Malignant and Benign.
                    Malignant is the variant where cancer spreads throughout whereas Benign is the one which doesn't spread. 
                    Actually they doesn't have any intermediate values so we used classification to get the end product. </p> <br>
                    <div style="padding-left: 25px;">
                        <h3>
                            <span class="tebold cblue">User :</span> Cancer Patients & Doctors
                        </h3>
    
                    </div>

            </div>
        </div>
        <div class="div-div-ext  ">
            <img src="{% static 'cancer.jpg'%}" style="width:100% ; background-color:#fff">
            <div class=" tex-ext-link">
                <p class="h6 white1">Our Execution</p>
            </div>
            <div class="paddiv2vw" style="padding-top: 0px; font-size: 15px; font-weight: bold;">
                <p>We have taken up the dataset from UCI which  contains the data of the 10 categories and upto 30 inputs which are used to predict the type of cancer. 
                    We have gone to talk with Medical graduate about the efficient way of taking up the 30 inputs which might be little heavy of the user so finally we got suggestion of just by taking some efficient values and giving the most accurate prediction.</p>

            </div>
        </div>
    </div>
</div>
<div class="tech grsl">
    <div>
        <div class="flex-col">
            <div class="inline">
                <h1 class="tecenter cwhite1">DATASET</h1>
                <div class="h-lin"></div>
            </div>
            <br>
            <div class="team-social">
                <div class="flex-row ">
                    <a href="https://www.kaggle.com/uciml/breast-cancer-wisconsin-data" target="_blank" title="UCI dataset:Kaggle"><span class="social-sym hwhite "><i class="fa-brands fa-kaggle"></i></i></span></a>
                    <a href="https://github.com/rpranaykumarreddy/bc" target="_blank" title="Project code:Github"><span class="social-sym hwhite"><i class="fa-brands fa-github"></i></i></span></a>
                </div>
            </div>
            
<div>
    <table class="table-main">
        <tr>
            <th class="head-main"></th>
            <th class="head-main">Mean</th>
            <th class="head-main">Standard Deviation</th>
            <th class="head-main">Worst</th>
        </tr>
        <tr>
            <th class="head-main">Radius</th>
            <td class="head-main">&#9989;</td>
            <td class="head-main">&#9989;</td>
            <td class="head-main">&#9989;</td>
        </tr>
        <tr>
            <th class="head-main">Texture</th>
            <td class="head-main">&#9989;</td>
            <td class="head-main">&#9989;</td>
            <td class="head-main">&#9989;</td>
        </tr>
        <tr>
            <th class="head-main">Perimeter</th>
            <td class="head-main">&#10060;</td>
            <td class="head-main">&#10060;</td>
            <td class="head-main">&#10060;</td>
        </tr>
        <tr>
            <th class="head-main">Area</th>
            <td class="head-main">&#10060;</td>
            <td class="head-main">&#10060;</td>
            <td class="head-main">&#10060;</td>
        </tr>
        <tr>
            <th class="head-main">Smoothness</th>
            <td class="head-main">&#9989;</td>
            <td class="head-main">&#9989;</td>
            <td class="head-main">&#9989;</td>
        </tr>
        <tr>
            <th class="head-main">Compactness</th>
            <td class="head-main">&#9989;</td>
            <td class="head-main">&#9989;</td>
            <td class="head-main">&#9989;</td>
        </tr>
        <tr>
            <th class="head-main">Concave Points</th>
            <td class="head-main">&#10060;</td>
            <td class="head-main">&#10060;</td>
            <td class="head-main">&#10060;</td>
        </tr>
        <tr>
            <th class="head-main">Symmetry</th>
            <td class="head-main">&#10060;</td>
            <td class="head-main">&#10060;</td>
            <td class="head-main">&#10060;</td>
        </tr>
        <tr>
            <th class="head-main">Fractal Dimension</th>
            <td class="head-main">&#10060;</td>
            <td class="head-main">&#10060;</td>
            <td class="head-main">&#10060;</td>
        </tr>
    </table>
</div>
        </div>
        <br><br>

    </div>
</div>
<section class="team-div ">
    <div class="team-div-title">
        <div>
            <div class="div-letters">
                <div class="tecenter new-ttl" style="width: 100%;">
                    <h2 class="cblac333">PROCESS</h2>
                </div>
                <div class="grp-links">
                    <div class="links curpoi flex-row">
                        <a href="#pla">
                            <p class="curpoi">
                                Planning
                            </p>
                        </a>
                    </div>
                    <div class="links curpoi flex-row">
                        <a href="#daq">
                            <p class="curpoi">
                                Data Acquisition
                            </p>
                        </a>
                    </div>
                    <div class="links curpoi flex-row">
                        <a href="#mod">
                            <p class="curpoi">
                                Model Design
                            </p>
                        </a>
                    </div>
                    <div class="links curpoi flex-row">
                        <a href="#mot">
                            <p class="curpoi">
                                Model Testing
                            </p>
                        </a>
                    </div>
                    <div class="links curpoi flex-row">
                        <a href="#mos">
                            <p class="curpoi">
                                Model Selection
                            </p>
                        </a>
                    </div>
                    <div class="links curpoi flex-row">
                        <a href="#ttp">
                            <p class="curpoi">
                                Try to Predict!
                            </p>
                        </a>
                    </div>
                    <div class="links curpoi flex-row">
                        <a href="#inp">
                            <p class="curpoi">
                                Interface Process
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            </div>

    </div>

    <div class="team-div-pages">
        <div class="div-team">
            <div id="pla" class="mem-card grsl">
                <div class="img"><img src="{% static 'planning.jpg'%}" alt=""></div>
                <div>
                    <h2 class="name teupper">Planning</h2>
                    <h3 class="role">A brief planning or insight of the project</h3>
                </div>
            </div>

            <div id="daq" class="mem-card grsl">
                <div class="img"><img src="{% static 'dataa.jpg'%}" alt=""></div>
                <div>
                    <h1 class="name teupper">Data Acquisition</h1>
                    <h3 class="role">
                        We have got the breast cancer dataset from UCI Machine Learning Repository.
                    </h3>
                </div>
            </div>
            <div id="mod" class="mem-card grsl">
                <div class="img"><img src="{% static 'design.jpg'%}" alt=""></div>
                <div>
                    <h1 class="name teupper">Model Design</h1>
                    <h3 class="role">
                        Designed various classification models using same dataset(SVM,KNN)
                    </h3>
                </div>
            </div>
            <div id="mot" class="mem-card grsl">
                <div class="img"><img src="{% static 'testing.jpg'%}" alt=""></div>
                <div>
                    <h1 class="name teupper">Model Testing</h1>
                    <h3 class="role">
                        Tested diffent models with test dataset.
                    </h3>
                </div>
            </div>
            <div id="mos" class="mem-card grsl">
                <div class="img"><img src="{% static 'selection.jpg'%}" alt=""></div>
                <div>
                    <h1 class="name teupper">Model Selection</h1>
                    <h3 class="role">
                        We have coded a program to test different models.<br> Got the confusion matrix & accuracy percentages of every respective models
                    </h3>
                </div>
            </div>
            <div id="ttp" class="mem-card grsl">
                <div class="img"><img src="{% static 'predict.png'%}" alt=""></div>
                <div>
                    <h1 class="name teupper">Try to Predict!</h1>
                    <h3 class="role">
                        dynamically we calculate accuracy of each model and Implementes the model with highest accuracy for prediction.
                    </h3>
                </div>
            </div>
            <div id="inp" class="mem-card grsl">
                <div class="img"><img src="{% static 'interface.jpg'%}" alt=""></div>
                <div>
                    <h1 class="name teupper">Interface Process</h1>
                    <h3 class="role">
                        Django framework is used to provide GUI.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="grsl sl-tea">
    <div class="flex-row">
        <div class="inline">
            <h1 class="tecenter cwhite1">TEAM</h1>
            <div class="h-lin"></div>
        </div>
    </div>
    <div class="lead">
        <div class="sub-le">
            <div class="port">
                <div class="img-dig">
                    <div class="img"><img src="{% static 'interface.jpg'%}" alt=""></div>
                    <div class="bg-img"></div>
                </div>
                <div class="text white1 tecenter flex-col">
                    <div>
                        <h1>Hari</h1>
                        <h3>Mentor</h3>
                    </div>
                </div>
            </div>
            <div class="port">
                <div class="img-dig">
                    <div class="img"><img src="{% static 'dep.jpeg'%}" alt=""></div>
                    <div class="bg-img"></div>
                </div>
                <div class="text white1 tecenter flex-col">
                    <div>
                        <h1>Deepthi Reddy</h1>
                        <h3>FFEUID036120</h3>
                    </div>
                </div>
            </div>
            <div class="port">
                <div class="img-dig">
                    <div class="img"><img src="{% static 'jai.jpeg'%}" alt=""></div>
                    <div class="bg-img"></div>
                </div>
                <div class="text white1 tecenter flex-col">
                    <div>
                        <h1>Jayanth</h1>
                        <h3>FFEUID036257</h3>
                    </div>
                </div>
            </div>
            <div class="port">
                <div class="img-dig">
                    <div class="img"><img src="{% static 'moh.jpg'%}" alt=""></div>
                    <div class="bg-img"></div>
                </div>
                <div class="text white1 tecenter flex-col">
                    <div>
                        <h1>Mohit Chouhan</h1>
                        <h3>FFEUID036578</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-le">
            <div class="port">
                <div class="img-dig">
                    <div class="img"><img src="{% static 'nir.jpg'%}" alt=""></div>
                    <div class="bg-img"></div>
                </div>
                <div class="text white1 tecenter flex-col">
                    <div>
                        <h1>Nirvan Reddy</h1>
                        <h3>FFEUID039728</h3>
                    </div>
                </div>
            </div>
            <div class="port">
                <div class="img-dig">
                    <div class="img"><img src="{% static 'pav.jpeg'%}" alt=""></div>
                    <div class="bg-img"></div>
                </div>
                <div class="text white1 tecenter flex-col">
                    <div>
                        <h1>Pavan Kumar</h1>
                        <h3>FFEUID035293</h3>
                    </div>
                </div>
            </div>
            <div class="port">
                <div class="img-dig">
                    <div class="img"><img src="{% static 'pra.jpg'%}" alt=""></div>
                    <div class="bg-img"></div>
                </div>
                <div class="text white1 tecenter flex-col">
                    <div>
                        <h1>Pranay Reddy</h1>
                        <h3>FFEUID039107</h3>
                        <h3>Team Leader</h3>
                    </div>
                </div>
            </div>
            <div class="port">
                <div class="img-dig">
                    <div class="img"><img src="{% static 'var.jpg'%}" alt=""></div>
                    <div class="bg-img"></div>
                </div>
                <div class="text white1 tecenter flex-col">
                    <div>
                        <h1>Varun Reddy</h1>
                        <h3>FFEUID040031</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tech grsl">
    <div>
        <div class="flex-col">
            <div class="inline">
                <h1 class="tecenter cwhite1">TECHNOLOGIES</h1>
                <div class="h-lin"></div>
            </div>

        </div>
        <br><br>
        <div class="comp">
            <div class="card card-hover">
                <img class="limg" src="{% static 'python.png'%}" alt="python" /></div>
            <div class="card card-hover">
                <img class="pimg" src="{% static 'html.jpg'%}" alt="HTML" /> </div>
            <div class="card card-hover">
                <img class="pimg" src="{% static 'css.jpg'%}" alt="css" /> </div>
            <div class="card card-hover">
                <img class="pimg" src="{% static 'js.png'%}" alt="js" /> </div>
        </div>
    </div>
</div>



<div class="tech grsl">
    <div>
        <div class="flex-row">
            <div class="inline">
                <h1 class="tecenter  cwhite1">LIBRARIES</h1>
                <div class="h-lin"></div>
            </div>
        </div>
        <br><br>
        <div class="comp">
            <div class="card card-hover">
                <img class="limg" src="{% static 'django.png'%}" alt="Django" /> </div>
            <div class="card card-hover">
                <img class="pimg" src="{% static 'numpy.png'%}" alt="numpy" /></div>
            <div class="card card-hover">
                <img class="limg" src="{% static 'pandas.jpg'%}" alt="pandas" /> </div>
            <div class="card card-hover">
                <img class="limg" src="{% static 'scikit.png'%}" alt="scikit" /> </div>
            <div class="card card-hover">
                <img class="limg" src="{% static 'charts.jpg'%}" alt="google charts" /> </div>



        </div>
    </div>
</div>
<div class="tech grsl">
    <div>
        <div class="flex-row">
            <div class="inline">
                <h1 class="tecenter cwhite1">RESOURCES</h1>
                <div class="h-lin"></div>
            </div>
        </div>
        <br><br>
        <div class="comp">
            <div class="card card-hover">
                <img class="limg" src="{% static 'kaggle.png'%}" alt="KAGGLE" /></div>
            <div class="card card-hover">
                <img class="limg" src="{% static 'youtube.jpg'%}" alt="YOUTUBE" /></div>
            <div class="card card-hover">
                <img class="limg" src="{% static 'stake.jpg'%}" alt="STACKOVERFLOW" /> </div>
            <div class="card card-hover">
                <img class="limg" src="{% static 'geeks.png'%}" alt="GEEKSFORGEEKS" /> </div>
            <div class="card card-hover">
                <img class="pimg" src="{% static 'w3schools.png'%}" alt="W3SCHOOLS" /> </div>


        </div>
    </div>
</div>
<div class="foot-img grsl flex-col" style="background-image:url('{% static 'footer.jpg'%}')">
    <div class="bg">
        <div class="foot-grp">
            <div class="foot-left">
                <div>
                    <h1 class="thank">CONCLUSION</h1>
                    <h2 class="tecenter">Alone we can do so little<br> Together we can do so much.
                    </h2>
                </div>
            </div>
            <div class="foot-right">
                <div class="foot-title">
                    <div class="inline">
                        <h1 class="tecenter">Team Members</h1>
                        <div class="h-lin"></div>
                    </div>
                </div>
                <div class="teleft">
                    <h2 class="curpoi">Deepthi</h2>
                    <h2 class="curpoi">Jayanth</h2>
                    <h2 class="curpoi">Mohit chouhan</h2>
                    <h2 class="curpoi">Nirvan</h2>
                    <h2 class="curpoi">Pavan Kumar</h2>
                    <h2 class="curpoi">Pranay Kumar (Team Lead)</h2>
                    <h2 class="curpoi">Varun</h2>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="foot-img grsl flex-col" style="background-image:url('{% static 'thank.jpg'%}')">
    <div class="bg">
        <div class="foot-ent">
            <div>
                <h1 class="thank">THANK YOU</h1>
                <h2 class="tecenter">
                    <a class="undli" href="">FFE</a>,
                    <a class="undli" href="">Skill Build</a>,
                    <a class="undli" href="">IBM</a>, Haribhopala Krishnan <br> some inspirations led us to this project.
                </h2>
            </div>
        </div>

    </div>
</div>
</div>

<div id="warn1">
    <div class="flex-row">
        <img src="{% static '1.jpg'%}">
    </div>
</div>
<div id="warn2">
    <a href="">
        <div class="flex-row">
            <img src="{% static '2.jpg'%}">
        </div>
    </a>
</div>

<script>
    setTimeout(function() {
        document.getElementById('warn1').style.display = 'none'
    }, 5 * 1000);
</script>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-circle-up"></i></button> 

</div>

{%endblock%}
